
body {
  margin-top: 50px;
}

li {
  margin-top: 50px;
  margin-bottom: 50px;
}

#search {
  border: 2px solid lightgray;
  border-radius: 5px;
  color: gray;
  font-size: .8em;
  padding: 10px;
  width: 180px;
}

::placeholder {
  font-style: italic;
}

/* ================================= 
  Custom Lightbox Styles
==================================== */

.lightbox .lb-image {
  border: none;
}

.lb-nav a.lb-prev,
.lb-nav a.lb-next {  
  width: 45%;
}

.lb-data .lb-caption {
  font-weight: normal;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

  body,
  li,
  #search {
    margin: 20px;
  }

  #search {
    width: 300px;
  }

/* ================================= 
  Custom Lightbox Styles
==================================== */

  .lb-outerContainer {
    background: none;
  }

  .lb-outerContainer,
  .lb-container,
  .lb-nav {
    width: 150vh !important;
  }

  .lb-image {
    margin: auto;
  }

  .lb-details {
    padding-top: 10px;
    padding-left: 10px;
  }
}

@media (min-width: 1024px) {

  ul {
    width: 985px;
  }
}